
body {
  margin: 0;
  font-family: 'Gochi Hand', 'Just Another Hand', cursive;
  width: 100vw;
  height: 100vh; }

/* background signal screen */

.no-signal {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to right, #002fc6 0%, #002bb2 14.28571%, #3a3a3a 14.28571%, #303030 28.57143%, #ff0afe 28.57143%, #f500f4 42.85714%, #6c6c6c 42.85714%, #626262 57.14286%, #0affd9 57.14286%, #00f5ce 71.42857%, #3a3a3a 71.42857%, #303030 85.71429%, white 85.71429%, #fafafa 100%);
}

.no-signal:before{
    top: 0;
    height: 68.47826%;
    background: linear-gradient(to right, white 0%, #fafafa 14.28571%, #ffe60a 14.28571%, #f5dc00 28.57143%, #0affd9 28.57143%, #00f5ce 42.85714%, #10ea00 42.85714%, #0ed600 57.14286%, #ff0afe 57.14286%, #f500f4 71.42857%, #ed0014 71.42857%, #d90012 85.71429%, #002fc6 85.71429%, #002bb2 100%);
}

.no-signal:before, .no-signal:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}

.no-signal:after {
  bottom: 0;
  height: 21.73913%;
  background: linear-gradient(to right, #006c6b 0%, #005857 16.66667%, white 16.66667%, #fafafa 33.33333%, #001b75 33.33333%, #001761 50%, #6c6c6c 50%, #626262 66.66667%, #929292 66.66667%, #888888 83.33333%, #3a3a3a 83.33333%, #303030 100%);
  font-family: 'Gochi Hand', 'Just Another Hand', cursive;
}


h1 {
  margin: 0;
  padding: 0.3em;
  background-color: black;
  text-align: center;
  color: #EFD30B
}

.tv {
  margin: 2em;
    /* needed to be relative and contain z-index to show over the background colors */
  position: relative;
  z-index: 10;
}

/* To-Do List Skeleton: */
.list-container {
  background: black;
  width: 40%;
  top: 30%;
  left: 30%;
  right: 50%;
  min-height: 100px;
  min-width: 300px;
  border-radius: 0px;
  z-index: 2;
  position: relative;
  margin: 0;  
  margin-top: 50px;
}

/* List input button */
.list-input {
  position: relative;
  padding: 20px;

}

.list-input input{
 width: 75%;
 height: 30px;
 padding: 10px;
 color: #FF00FF;
 position: relative;
 border-radius: 0px;
 font-family:'Gochi Hand', 'Just Another Hand', cursive;
 font-size: 16px;
 border-style: solid;
 border-color: #FF00FF;
 background-color: black;
 border-width: 2px;
 letter-spacing: 0.1em;
}

.list-input input:focus{
  outline:none;
}

.list-input button{
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: black;
  border: none;
  color: #FF00FF;
  cursor: pointer;
  outline: none;
  width: 15%;
  height: 36px;
  border-radius: 0px;
  border-style: solid;
  border-color: #FF00FF;
  border-width: 2px;
  font-family:'Gochi Hand', 'Just Another Hand', cursive;
  padding: 5px;
  letter-spacing: 0.1em;
  align-items: center;
  
}

/* Titles to be added to list: */
.titles{
  border-radius: 0px;
  width: 91.3%;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
}


/* static animation for signal failure effect */
/*
.tv-static {
  position: fixed;
  z-index: -1;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: repeating-conic-gradient(#EC008E, #7cccfc 0.00085%);
  background-size: cover;
  background-position: center;
  animation: error-static 0.5s steps(2, jump-both) infinite both;
  transform: translate3d(0, 0, 0);
}

@keyframes error-static {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 100%;
  }
  /*

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

*/
