/* COLOUR HEX CODES:
Magenta(#FF00FF)
Light Blue(#30d5c8)
Dark Blue(#0d3aa9)
Yellow(#EFD30B)
Green(#73ba25)
Red(#C92A2E)
Light Grey(#BFBFBF)
Dark Grey (#474747)
 */
:root {
--white-color: #FFFFFF;
--tinted-grey: #fafafa;
--steel-grey: #929292;
--fossil-grey: #888888;
--lightGrey-color: #6c6c6c;
--light-greyTwo: #626262;
--darkGrey-color: #3a3a3a;
--strongShade-grey: #303030;
--sunnyYellow-color: #ffe60a;
--mustard-yellow: #f5dc00;
--bright-greenMint: #0affd9;
--lightGreen-color: #00f5ce;
--lime-green: #10ea00;
--neonBright-green: #0ed600;
--veryDark-cyan: #006c6b;
--darkTeal-color: #005857;
--ocean-blue: #002fc6;
--darkOcean-blue: #002bb2;
--midnight-blue: #001b75;
--milkyWay-deepBlue: #001761;
--bright-pink: #ff0afe;
--sharp-retroPink: #f500f4;
--rich-red: #ed0014;
--venetian-red: #d90012;

}

body {
  margin: 0;
  /* font-family: ? */
  font-family: 'Gochi Hand', 'Just Another Hand', cursive;
  width: 100vw;
  height: 100vh; 
}

/* background signal screen */

.no-signal {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to right, var(--ocean-blue) 0%, var(--darkOcean-blue) 14.28571%, var(--darkGrey-color) 14.28571%, var(--strongShade-grey) 28.57143%, var(--bright-pink) 28.57143%, var(--sharp-retroPink) 42.85714%, var(--lightGrey-color) 42.85714%, var(--light-greyTwo) 57.14286%, var(--bright-greenMint) 57.14286%, var(--lightGreen-color) 71.42857%, var(--darkGrey-color) 71.42857%, var(--strongShade-grey) 85.71429%, var(--white-color) 85.71429%, var(--tinted-grey) 100%);
}

.no-signal:before{
    top: 0;
    height: 68.47826%;
    background: linear-gradient(to right, var(--white-color) 0%, var(--tinted-grey) 14.28571%, var(--sunnyYellow-color) 14.28571%, var(--mustard-yellow) 28.57143%, var(--bright-greenMint) 28.57143%, var(--lightGreen-color) 42.85714%, var(--lime-green) 42.85714%, var(--neonBright-green) 57.14286%, var(--bright-pink) 57.14286%, var(--sharp-retroPink) 71.42857%, var(--rich-red) 71.42857%, var(--venetian-red) 85.71429%, var(--ocean-blue) 85.71429%, var(--darkOcean-blue) 100%);
}

.no-signal:before, .no-signal:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}

.no-signal:after {
  bottom: 0;
  height: 21.73913%;
  background: linear-gradient(to right, var(--veryDark-cyan) 0%, var(--darkTeal-color) 16.66667%, var(--white-color) 16.66667%, var(--tinted-grey) 33.33333%, var(--midnight-blue) 33.33333%, var(--milkyWay-deepBlue) 50%, var(--lightGrey-color) 50%, var(--light-greyTwo) 66.66667%, var(--steel-grey) 66.66667%, var(--fossil-grey) 83.33333%, var(--darkGrey-color) 83.33333%, var(--strongShade-grey) 100%);
  font-family: 'Gochi Hand', 'Just Another Hand', cursive;
}


h1 {
  margin: 0;
  padding: 0.3em;
  background-color: black;
  text-align: center;
  color: #EFD30B
}

.tv {
  margin: 2em;
    /* needed to be relative and contain z-index to show over the background colors */
  position: relative;
  z-index: 10;
}

/* static animation for signal failure effect */
/*
.tv-static {
  position: fixed;
  z-index: -1;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: repeating-conic-gradient(#EC008E, #7cccfc 0.00085%);
  background-size: cover;
  background-position: center;
  animation: error-static 0.5s steps(2, jump-both) infinite both;
  transform: translate3d(0, 0, 0);
}

@keyframes error-static {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 100%;
  }
  /*

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

*/
