body {
  margin: 0;
  /* font-family: ? */
}

h1 {
  margin: 0;
  padding: 0.3em;
  background-color: black;
  text-align: center;
  color: yellow; /* to be changed to the root color! */
}

.tv {
  margin: 2em;
}
